
body {
	background-image: url("nightsky.jpg");
	font-family: 'IM Fell English', serif;
}	
a {color: yellow; font-weight: bold;}
a:hover {color: dodgerblue;}
#headerTitle {
	background-color: transparent;
	color:white;
	text-align: center;
	padding: 15px;
	font-size: 36px;
}
#footerTitle {
	background-color: transparent;
	color: white;
	text-align: center;
	padding: 30px;
	font-size: 18px;
}
.leftFloat {
	float: left;
	width: 14.2%;
	height: 500px;
	padding: 5px;
	box-sizing: border-box;
}
.wrapper div {
	color: red;
}
.text-center {text-align: center;}
.wrapper {
	width:100%;
	padding-left: 4px;
	border: 1px solid white;
	height: 505px;
}
.text-box {
	border: 1px solid gold;
	height: 90%;
	padding: 0 5px 0 5px;
	margin-top: 5px;
	background-size: cover;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	opacity: 0.95;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#menu {
	width: 50%;
	/*border: 2px white solid;*/
	text-align: center;
 	margin: auto;
	color: white;
}

#redTitle {color: red; background-color: transparent;}

#Tahu {
	background-image: url("tahu.png");
}
	#Tahu-Summary {
		display: none;
		color: orange;
		font-family: 'BenchNine', sans-serif;
		font-size: 22px;
	}
	#Tahu:hover {background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("tahu.png");overflow: auto;}
		#Tahu:hover #Tahu-Summary {
			display: block;
		}
		
#Kopaka {
	background-image: url("kopaka.png");
}
	#Kopaka-Summary {
		display: none;
		color: lightcyan;
		font-family: 'BenchNine', sans-serif;
		font-size: 22px;
	}
	#Kopaka:hover{background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("kopaka.png");overflow: auto;}
		#Kopaka:hover #Kopaka-Summary {
			display: block;
		}
		
#Gali {
	background-image: url("gali.png");
}
	#Gali-Summary {
		display: none;
		color: aquamarine;
		font-family: 'BenchNine', sans-serif;
		font-size: 22px;
	}
	#Gali:hover{background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("gali.png");overflow: auto;}
		#Gali:hover #Gali-Summary {
			display: block;
		}
		
#Pohatu {
	background-image: url("pohatu.png");
}
	#Pohatu-Summary {
		display: none;
		color: wheat;
		font-family: 'BenchNine', sans-serif;
		font-size: 22px;
	}
	#Pohatu:hover{background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("pohatu.png");overflow: auto;}
		#Pohatu:hover #Pohatu-Summary {
			display: block;
		}
		
#Lewa {
	background-image: url("lewa.png");
}
	#Lewa-Summary {
		display: none;
		color: lime;
		font-family: 'BenchNine', sans-serif;
		font-size: 22px;
	}
	#Lewa:hover{background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("lewa.png");overflow: auto;}
		#Lewa:hover #Lewa-Summary {
			display: block;
		}
		
#Onua {
	background-image: url("onua.png");
}
	#Onua-Summary {
		display: none;
		color: silver;
		font-family: 'BenchNine', sans-serif;
		font-size: 22px;
	}
	#Onua:hover{background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("onua.png");overflow: auto;}
		#Onua:hover #Onua-Summary {
			display: block;
		}
		
#Takanuva {
	background-image: url("takanuva.png");
}
	#Takanuva-Summary {
		display: none;
		color: gold;
		font-family: 'BenchNine', sans-serif;
		font-size: 22px;
	}
	#Takanuva:hover{background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("takanuva.png");overflow: auto;}
		#Takanuva:hover #Takanuva-Summary {
			display: block;
		}
		
.btn {
    /*background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
}

.tahuBtn {
    background-color: transparent; 
    color: white; 
}
.tahuBtn:hover {
    background-color: orange;
    color: black;
}

.kopakaBtn {
    background-color: transparent; 
    color: white; 
}
.kopakaBtn:hover {
    background-color: lightcyan;
    color: dodgerblue;
}

.galiBtn {
    background-color: transparent; 
    color: white; 
}
.galiBtn:hover {
    background-color: aquamarine;
    color: blue;
}

.pohatuBtn {
    background-color: transparent; 
    color: white; 
}
.pohatuBtn:hover {
    background-color: wheat;
    color: brown;
}

.lewaBtn {
    background-color: transparent; 
    color: white; 
}
.lewaBtn:hover {
    background-color: lime;
    color: green;
}

.onuaBtn {
    background-color: transparent; 
    color: white; 
}
.onuaBtn:hover {
    background-color: silver;
    color: black;
}

.takanuvaBtn {
    background-color: transparent; 
    color: white; 
}
.takanuvaBtn:hover {
    background-color: gold;
    color: black;
}
#menu a {
	width: 100px;
	background-color: transparent;
	color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
