
body {
	background-image: url("nightsky.jpg");
	font-family: 'IM Fell English', serif;
}	
a {text-decoration:  none;}
#headerTitle {
	background-color: transparent;
	color:white;
	text-align: center;
	padding: 15px;
	font-size: 36px;
}
#footerTitle {
	background-color: transparent;
	color: white;
	text-align: center;
	padding: 30px;
	font-size: 18px;
}
.leftFloat {
	float: left;
	width: 14.2%;
	height: 500px;
	padding: 5px;
	box-sizing: border-box;
}
.wrapper div {
	color: red;
}
.text-center {text-align: center;}
.wrapper {
	width:100%;
	padding-left: 4px;
}
.text-box {
	border: 1px solid gold;
	height: 90%;
	padding: 0 5px 0 5px;
	margin-top: 5px;
	background-size: cover;
}

#redTitle {color: red; background-color: transparent;}

#Tahu {
	background-image: url("tahu.png");
}
	#Tahu-Summary {
		display: none;
		color: white;
		font-family: 'BenchNine', sans-serif;
	}
	#Tahu:hover {background-image: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)), url("tahu.png");overflow: auto;}
		#Tahu:hover #Tahu-Summary {
			display: block;
		}
		
#Kopaka {
	background-image: url("kopaka.png");
}
	#Kopaka-Summary {
		display: none;
		color: white;
		font-family: 'BenchNine', sans-serif;
	}
	#Kopaka:hover{background-image: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)), url("kopaka.png");overflow: auto;}
		#Kopaka:hover #Kopaka-Summary {
			display: block;
		}
		
#Gali {
	background-image: url("gali.png");
}
	#Gali-Summary {
		display: none;
		color: white;
		font-family: 'BenchNine', sans-serif;
	}
	#Gali:hover{background-image: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)), url("gali.png");overflow: auto;}
		#Gali:hover #Gali-Summary {
			display: block;
		}
		
#Pohatu {
	background-image: url("pohatu.png");
}
	#Pohatu-Summary {
		display: none;
		color: white;
		font-family: 'BenchNine', sans-serif;
	}
	#Pohatu:hover{background-image: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)), url("pohatu.png");overflow: auto;}
		#Pohatu:hover #Pohatu-Summary {
			display: block;
		}
		
#Lewa {
	background-image: url("lewa.png");
}
	#Lewa-Summary {
		display: none;
		color: white;
		font-family: 'BenchNine', sans-serif;
	}
	#Lewa:hover{background-image: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)), url("lewa.png");overflow: auto;}
		#Lewa:hover #Lewa-Summary {
			display: block;
		}
		
#Onua {
	background-image: url("onua.png");
}
	#Onua-Summary {
		display: none;
		color: white;
		font-family: 'BenchNine', sans-serif;
	}
	#Onua:hover{background-image: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)), url("onua.png");overflow: auto;}
		#Onua:hover #Onua-Summary {
			display: block;
		}
		
#Takanuva {
	background-image: url("takanuva.png");
}
	#Takanuva-Summary {
		display: none;
		color: white;
		font-family: 'BenchNine', sans-serif;
	}
	#Takanuva:hover{background-image: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)), url("takanuva.png");overflow: auto;}
		#Takanuva:hover #Takanuva-Summary {
			display: block;
		}
		
